BasedOnStyle: Mozilla

AlignAfterOpenBracket: AlwaysBreak
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
ColumnLimit: 92
Cpp11BracedListStyle: false
DerivePointerAlignment: true
IndentWidth: 4
NamespaceIndentation: All
SortIncludes: false
SortUsingDeclarations: false
TabWidth: 4
UseTab: Always
AccessModifierOffset: -4
DerivePointerAlignment: true
FixNamespaceComments: true
IndentCaseLabels: false
IndentPPDirectives: None
MaxEmptyLinesToKeep: 3
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false


BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterStruct: false
  AfterUnion: false
  AfterNamespace: false
  AfterEnum: false
  AfterFunction: true
  AfterControlStatement: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
