[submodule "OStream-Extra"]
	path = OStream-Extra
	url = https://github.com/Lester-Dowling/OStream-Extra.git
[submodule "IStream-Extra"]
	path = IStream-Extra
	url = https://github.com/Lester-Dowling/IStream-Extra.git
[submodule "String-Extra"]
	path = String-Extra
	url = https://github.com/Lester-Dowling/String-Extra.git
[submodule "Pseudo-XPath"]
	path = Pseudo-XPath
	url = https://github.com/Lester-Dowling/Pseudo-XPath.git
[submodule "Simple-XML"]
	path = Simple-XML
	url = https://github.com/Lester-Dowling/Simple-XML.git
